.Index-container {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.Index-container h1 {
  font-size: var(--font-size-300);
}

.Index-container h1 span {
  font-size: var(--font-size-500);
}
