.AppHeader-header {
  background-color: var(--color-primary-600);
  box-shadow: var(--shadow-200);
  color: var(--white);
  display: flex;
  font-size: var(--font-size-300);
  font-weight: bold;
  height: var(--header-height);
  justify-content: space-between;
  left: 0;
  line-height: var(--header-height);
  padding: 0 1rem;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
}

.AppHeader-header form {
  display: flex;
  align-items: center;
}

.AppHeader-header form button {
  padding: var(--space-100);
  border-radius: 5px;
  background-color: var(--color-primary-800);
  color: var(--white);
  text-transform: uppercase;
  transition: background-color 100ms;
}

.AppHeader-header form button:hover {
  background-color: var(--color-primary-700);
}
